.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.logo img {
    height: 40px;
}
.menu ul {
    display:flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.buttons button:nth-child(1) {
    color: black;
    background-color: white;
    border-radius: 99px;
}
.buttons button:nth-child(2) {
    color: blue;
    background-color: white;
    border-radius: 99px;
}
.menu ul:hover {
    color: blue;
}