* {
margin: 0;
box-sizing: border-box;
padding: 0;
}
html {Add commentMore actions
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  font-family: Arial, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.posts {
  padding: 30px 0;
}
.posts .posts-row {
  display: flex;
}
.posts .column-small {
  width: 25%;
  padding: 0 10px;
}
.posts .column-large {
  width: 50%;
  padding: 0 10px;
}
.posts .post-list .post-item {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.posts .post-list .post-item .image {
  width: 35%;
}
.posts .post-list .post-item h2 {
  width: 65%;
  font-size: 1.5rem;
  padding-left: 10px;
  line-height: 1.2;
}
.posts .post-feature img {
  height: 340px;
  width: 100%;
  object-fit: cover;
}
.posts .post-feature h1 {
  line-height: 1.25;
  font-size: 2.8rem;
}
.posts .post-feature p {
  padding: 10px 0;
}
.posts .post-feature ul {
  list-style: inside;
  font-weight: bold;
}
.posts .post-one-column .post-item {
  margin-bottom: 15px;
}
.posts .post-one-column .post-item h2 {
  font-size: 1.7rem;
