.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}

.box {
  border-radius: 99px;
  border: 1px solid;
  width: 180px;
  height: 60px;
  background-color: green;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 100%;
  background: red;
  transition: right 0.4s ease;
}
.box span {
  position: relative;
}
.box:hover::before {
  right: 0;
}
